<ng-container *ngIf="!isLoading">
    <div class="d-flex">
        <div class="flex-fill">
            Prescritte:
            <select [(ngModel)]="normativaSelezionata">
                <option *ngFor="let item of Prescritte" [ngValue]="item">
                    {{item}}
                </option>
            </select>
            <button (click)="proveCollaudoNormativa()">Cambia normativa</button>
            <span class="ml-4" *ngIf="gcc">
                Scegli commessa:
                <select [(ngModel)]="commessaSelezionata">
                    <option *ngFor="let item of elencoCommesse;let i = index" [ngValue]="item" [selected]="i==0">
                        {{item}}
                    </option>
                </select>
            </span>
            <button *ngIf="gcc" (click)="generaCertificatoProve()">{{commessaSelezionata}}</button>
            </div>
        <!-- <i *ngIf="gcc" class="fa fa-plus fa-2x" aria-hidden="true" title="Accoda a certificato esistente" (click)="accodaGenerazioneStandard()"></i>&nbsp;
        <i *ngIf="gcc" class="fa fa-print fa-2x" aria-hidden="true" title="Accoda" (click)="accodaCertificato()"></i>&nbsp;
        <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" title="Visualizza certificato" (click)="accodaCertificato()"></i>&nbsp; -->
    </div>
</ng-container>

<ag-grid-angular
#agGrid
style="width: 100%; height: 85%;"
id="myGrid"
class="ag-theme-balham"
[rowHeight]=40
[columnDefs]="columnDefs"        
[defaultColDef]="defaultColDef"
[animateRows]="true"
rowSelection="multiple"
[enableRangeSelection]="true"
[context]="context"
[pagination]="true"
[paginationPageSize]="30"
[rowData]="rowData"
[suppressRowClickSelection]="true"
[frameworkComponents]="frameworkComponents"
[overlayLoadingTemplate]="overlayLoadingTemplate"
[overlayNoRowsTemplate]="overlayNoRowsTemplate"
(gridReady)="onGridReady($event)"
>
</ag-grid-angular>