Prescritte:
<select [(ngModel)]="normativaSelezionata">
    <option *ngFor="let item of Prescritte" [ngValue]="item">
        {{item}}
    </option>
</select>

<button (click)="proveCollaudoNormativa()">Cambia normativa</button><span *ngIf="showLoading">Caricamento in corso....</span>


<ag-grid-angular
#agGrid
style="width: 100%; height: 85%;"
id="myGrid"
class="ag-theme-balham"
[columnDefs]="columnDefs"        
[defaultColDef]="defaultColDef"
[animateRows]="true"
rowSelection="multiple"
[enableRangeSelection]="true"
[context]="context"
[pagination]="true"
[paginationPageSize]="30"
[rowData]="rowData"
[suppressRowClickSelection]="true"
[frameworkComponents]="frameworkComponents"
[overlayLoadingTemplate]="overlayLoadingTemplate"
[overlayNoRowsTemplate]="overlayNoRowsTemplate"
(gridReady)="onGridReady($event)"
>
</ag-grid-angular>
