<p>lottoclienti works!</p>
<ag-grid-angular
        #agGrid
        style="width: 100%; height: 85%;"
        id="myGrid"
        class="ag-theme-balham"
        [columnDefs]="columnDefs"        
        [defaultColDef]="defaultColDef"
        [animateRows]="true"
        rowSelection="multiple"
        [enableRangeSelection]="true"
        [pagination]="true"
        [paginationPageSize]="30"
        [suppressRowClickSelection]="true"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
      >
</ag-grid-angular>
