<div *ngIf="cLotto && cLotto.Lotto">
    <div  class="d-flex back-even" >
        <div class="flex-fill">
            <label>LOTTO:</label> <span class="ml-2">{{cLotto.Lotto}}</span> <label class="ml-2">CODICE:</label><span class="ml-2">{{cLotto.Codice}}</span>
        </div>
        <i class="fa fa-circle fa-2x"></i>
    </div>
    <div class="d-flex back-odd">
        <label>PRESSA:</label> {{cLotto.Pressa}} <label>LUNGHEZZA:</label> {{cLotto.Lunghezza}} <label>MATRICOLA:</label> {{cLotto.Matricola}}        
    </div>

    <div class="d-flex back-even">
        <label>LEGA:</label> {{cLotto.Lega}} <label>DIAMETRO:</label> {{cLotto.Diametro}} <label>DESLEGA:</label> {{cLotto.DesLega}} <label>DIMENSIONI:</label> {{cLotto.Dimensioni}}
    </div>
    <div class="d-flex back-odd">
        <label>DESFORMA:</label> {{cLotto.DesForma}} <label>DESSTATOCICLO:</label> {{cLotto.DesStatoCiclo}} <label>DESSTATOFISICO:</label> {{cLotto.DesStatoFisico}}
    </div>
</div>
<!-- <button type="button" class="btn btn-primary" (click)="clickMe(5)">Click Me!</button> -->
