<div *ngIf="cLotto && cLotto.Lotto">
    <div  class="d-flex back-even" >
        <div class="flex-fill">
            <label>LOTTO:</label> 
            <span class="ml-2">{{cLotto.Lotto}}</span> 
            <label class="ml-2">CODICE:</label>
            <span class="ml-2">{{cLotto.Codice}}</span>
        </div>
        <i class="fa fa-circle fa-2x"></i>
    </div>
    <div class="d-flex back-odd">
        <label>PRESSA:</label> 
        <span class="ml-2">{{cLotto.Pressa}}</span> 
        <label class="ml-2">LUNGHEZZA:</label> 
        <span class="ml-2">{{cLotto.Lunghezza}}</span> 
        <label class="ml-2">MATRICOLA:</label>
        <span class="ml-2">{{cLotto.Matricola}}</span>
    </div>

    <div class="d-flex back-even">
        <label>LEGA:</label>
        <span class="ml-2">{{cLotto.Lega}}</span>
        <label class="ml-2">DIAMETRO:</label>
        <span class="ml-2">{{cLotto.Diametro}}</span>
        <label class="ml-2">DESLEGA:</label> 
        <span class="ml-2">{{cLotto.DesLega}}</span>
        <label class="ml-2">DIMENSIONI:</label>
        <span class="ml-2">{{cLotto.Dimensioni}}</span>
    </div>
    <div class="d-flex back-odd">
        <label>DESFORMA:</label>
        <span class="ml-2">{{cLotto.DesForma}}</span>
        <label class="ml-2">DESSTATOCICLO:</label>
        <span class="ml-2">{{cLotto.DesStatoCiclo}}</span>
        <label class="ml-2">DESSTATOFISICO:</label>
        <span class="ml-2">{{cLotto.DesStatoFisico}}</span>
    </div>
</div>
<!-- <button type="button" class="btn btn-primary" (click)="clickMe(5)">Click Me!</button> -->
