<form name="loginform" class="form-signin">
    <div class="form-label-group form-title">
        EURAL GNUTTI SPA
        </div>    
    <div class="form-label-group">
<input type="text" #formLogin [(ngModel)]="username" placeholder="login" class="form-control" name="login" id="testlogin">
</div>
<div class="form-label-group">
<input type="password" #formPassword [(ngModel)]="password" placeholder="password" class="form-control" name="password" id="testpassword">
<!-- <input type="file" (change)="test($event)"> -->
</div>

<div class="form-label-group">
<button class="btn btn-lg btn-primary btn-block" style="height: 50px;" (click)="clickMe()">
    <span *ngIf="!isLoading; else loadingtemplate" >Accedi</span>
    <ng-template #loadingtemplate>
        <!-- <div class="d-flex w-100"> -->
            <!-- <app-spinner></app-spinner>&nbsp;<i>Login...</i> -->
            <app-spinner inputSpinnerClass="'fa-2x'"></app-spinner>&nbsp;<i>Login...</i>
            <!-- </div> -->
    </ng-template>
</button>
</div>
{{errorLoading}}
</form>
