<p>search-component works!</p>

<a 
routerLink="/lotto" 
routerLinkActive="active">Lotto</a>


{{inpLotto}}
<select [(ngModel)]="currentTipoData">
    <option *ngFor="let item of statoData" [ngValue]="item">
        {{item}}
    </option>
</select>

<select [(ngModel)]="currentForma">
    <option *ngFor="let item of formeData" [ngValue]="item">
        {{item.des_forma}}
    </option>
</select>
CURRENT FORMA : {{currentForma}}

<select [(ngModel)]="currentLega">
    <option *ngFor="let item of legheData" [ngValue]="item">
        {{item.des_lega}}
    </option>
</select>
CURRENT LEGA : {{currentLega}}
<br>

<select [(ngModel)]="currentPressa">
    <option *ngFor="let item of presseData" [ngValue]="item">
        {{item.pressa}}
    </option>
</select>
CURRENT PRESSA : {{currentPressa}}

SF:
<select [(ngModel)]="currentStatoFisico">
    <option *ngFor="let item of statiFisiciData" [ngValue]="item">
        {{item.des_statofisico}}
    </option>
</select>
{{currentStatoFisico.id_statofisico}}

SC:
<select [(ngModel)]="currentStatoCiclo">
    <option *ngFor="let item of statiCicloData" [ngValue]="item">
        {{item.des_statociclo}}
    </option>
</select>
{{currentStatoCiclo.id_statociclo}}

<select [(ngModel)]="currentCliente">
    <option *ngFor="let item of clientiData" [ngValue]="item">
        {{item.des_cliente_ext}}
    </option>
</select>
{{currentCliente.id_cliente}}

<input type="text" [(ngModel)]="strCliente"  (blur)="updateClienti()" />

Lotto: <input type="text" [(ngModel)]="currentLotto"/>
DataDa: <input type="text" [(ngModel)]="currentDataDa"/>
DataA: <input type="text" [(ngModel)]="currentDataA"/>
<br>

Lotti Aperti: <input type="checkbox" [(ngModel)]="currentLottiAperti">
Lotti Chiusi: <input type="checkbox" [(ngModel)]="currentLottiChiusi">

Commessa: <input type="checkbox" [(ngModel)]="ricercaCommessa">
Matricola: <input type="checkbox" [(ngModel)]="ricercaMatricola">

Colata: <input type="text" [(ngModel)]="currentColata"/>
Dimensione: <input type="text" [(ngModel)]="currentDimensione"/>

<button (click)="clickMe()">Applica Filtro</button>