.background {
    // background-image: ;
    // background-color: lightblue ;
    background: url("/assets/images/automotive_0.jpg") no-repeat center center fixed;
    background-color: gray;
    opacity: 1;
    
    }