  <div class="d-flex">
    <div class="d-flex justify-content-around flex-fill">
      <a [routerLink]="['/qualita/lotto/clienti' ]" [queryParams]="{ lotto: lotto }" href="#">Clienti</a>&nbsp;
      <a [routerLink]="['/qualita/lotto/analisi']" [queryParams]="{ lotto: lotto }" href="#">Analisi</a>&nbsp;
      <a [routerLink]="['/qualita/lotto/collaudo' ]" [queryParams]="{ lotto: lotto }" href="#">Collaudo</a>&nbsp;
      <a [routerLink]="['/qualita/lotto/note' ]" [queryParams]="{ lotto: lotto }" href="#">Note</a>&nbsp;
    </div>
    <a [routerLink]="['/qualita/parent1' ]" href="#"><i class="fa fa-undo fa-2x"></i></a>
  </div>
