    <div  class="d-flex background" >
        <div class="flex-fill">
            <label>NUMEROSITA' PROVE</label>
            <label class="ml-2">COLLAUDO</label> 
            <span *ngIf="mecFatte" class="ml-2">{{mecFatte}}/{{mecTotali}}</span> 
            <label class="ml-2">LABORATORIO</label> 
            <span *ngIf="anaFatte" class="ml-2">{{anaFatte}}/{{anaTotali}}</span> 
            <label class="ml-2">MACRO</label> 
            <span *ngIf="macroFatte" class="ml-2">{{macroFatte}}/{{macroTotali}}</span> 
        </div>
        <div>
            <span>NUMEROSITA' PRESCRITTE:</span>
            <span class="ml-2">{{dimPrescritte}}</span>
            <span class="ml-2">NUMEROSITA' PROVE:</span>
            <span class="ml-2">{{dimNumerosita}}</span>
        </div>
        <i class="fa fa-circle fa-2x"></i>
    </div>
    <!-- <div class="d-flex back-odd">
        <label>PRESSA:</label> 
        <span class="ml-2">{{cLotto.Pressa}}</span> 
        <label class="ml-2">LUNGHEZZA:</label> 
        <span class="ml-2">{{cLotto.Lunghezza}}</span> 
        <label class="ml-2">MATRICOLA:</label>
        <span class="ml-2">{{cLotto.Matricola}}</span>
    </div>

    <div class="d-flex back-even">
        <label>LEGA:</label>
        <span class="ml-2">{{cLotto.Lega}}</span>
        <label class="ml-2">DIAMETRO:</label>
        <span class="ml-2">{{cLotto.Diametro}}</span>
        <label class="ml-2">DESLEGA:</label> 
        <span class="ml-2">{{cLotto.DesLega}}</span>
        <label class="ml-2">DIMENSIONI:</label>
        <span class="ml-2">{{cLotto.Dimensioni}}</span>
    </div>
    <div class="d-flex back-odd">
        <label>DESFORMA:</label>
        <span class="ml-2">{{cLotto.DesForma}}</span>
        <label class="ml-2">DESSTATOCICLO:</label>
        <span class="ml-2">{{cLotto.DesStatoCiclo}}</span>
        <label class="ml-2">DESSTATOFISICO:</label>
        <span class="ml-2">{{cLotto.DesStatoFisico}}</span>
    </div> -->

