<p>lotto detail works!</p>
<div *ngIf="cLotto.Lotto != ''">
LOTTO: {{cLotto.Lotto}}<br>
CODICE: {{cLotto.Codice}}<br>
LUNGHEZZA: {{cLotto.Lunghezza}}<br>
PRESSA: {{cLotto.Pressa}}<br>
LEGA: {{cLotto.Lega}}<br>
MATRICOLA: {{cLotto.Matricola}}<br>
DIMENSIONI: {{cLotto.Dimensioni}}<br>
DESLEGA: {{cLotto.DesLega}}<br>
DESFORMA: {{cLotto.DesForma}}<br>
DIAMETRO: {{cLotto.Diametro}}<br>
DESSTATOCICLO: {{cLotto.DesStatoCiclo}}<br>
DESSTATOFISICO: {{cLotto.DesStatoFisico}}


<button (click)="clickMe(5)">Click Me!</button>
</div>