<nav *ngIf="loading" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EURAL GNUTTI SpA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li *ngFor="let menu of Menu" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{menu.DescrizioneMenu}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a  *ngFor="let voce of menu.VociMenu" class="dropdown-item"  [routerLink]="voce.Routing">{{voce.DescrizioneVoceMenu}}</a>
        </div>
      </li>
    </ul>
  </div>
  <span class="navbar-text">
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;
    Utente: <I>{{ ProfiloUtente.NomeUtente }}</I>&nbsp;
    <i class="fa fa-power-off" aria-hidden="true" (click)="logout()"></i>
    <!-- <a class="navbar-brand" (click)="logout()">Esci</a> -->
    <!-- <i class="fas fa-power-off fa-2x" (click)="logout()"></i> -->
  </span>
</nav>
<!-- {{ ProfiloUtente | json }} -->


